@{
    ViewBag.Title = "Error Page";
}
<div style=" padding:20px; color:red">    
    <h4>
        Sorry we seem to be having some problems. Do not worry our admins are on it already. Please try again in few minutes.
    </h4>
    <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>
    <br />
    <br />
</div>