
@{
    ViewBag.Title = "NotFound";
}

<div class="row">
    <div class="message-box col-md-5">
        <h1>Occurred a 404 has... the page you looking for this not is</h1>
        <div class="message">
            <p>
                Much anger and fear in you I sense. <br /><br />
                Trust in the force, clear your mind, unlearn what you have learned, and find your missing page you will.
            </p>
        </div>
        <div class="tryToMessage">
            Or alternative:
            <ul>
                <li>Go to our <a href="/Home/Index" title="Back">Main page</a></li>            
            </ul>
            <br />
            <span>Do or do not there is no try</span>
        </div>
        <div class="yoda">
            <img src="/Images/yoda_404.png" alt="yoda" />
        </div>
        <br />

    </div>
    <div class="col-md-7">
        <img src="/Images/404.jpg" class="col-md-12 pull-right" style="max-width:100%" />
    </div>
</div>

